@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
*{
    margin: 0;
    padding: 0;
}


header{
    display: flex;
    background-color: rgb(62, 225, 206);
    align-items: center;
    justify-content: center;
    height: 13vh;
    width: 100%;
    font-family: Zen Dots;
}


h1 {
    font-family: Zen Dots;
    font-size: 4em;
    text-align: center;
}

h2{
    font-family: 'Inconsolata', monospace;
}

a{
    font-family: 'Inconsolata', monospace;
}
p{
    font-family: 'Inconsolata', monospace;
}